altgraph==0.17.4
distlib==0.3.8
filelock==3.15.1
greenlet==3.0.3
marshmallow==3.21.3
marshmallow-sqlalchemy==1.0.0
mysql-connector-python==8.1.0
packaging==23.2
pefile==2023.2.7
platformdirs==4.2.2
protobuf==4.21.12
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pywin32-ctypes==0.2.2
SQLAlchemy==2.0.31
typing_extensions==4.12.2
virtualenv==20.26.2
